@media (max-width: 600px){
  .imgFundo, .imgEntregas,.imgAjudar,.imgAjuda, .descricao{
      width: 100%;
  }
}


*{
    margin: 0;
    padding: 0;
    }
.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: now;
     justify-content: center;
     align-items: center;
  }

  .p-30{ /* seletor global*/
    padding: 30px;

  }

  .br-50{
      border-radius: 50%;
  }

  .mb-50{
    margin-bottom: 50px;
}


  #myBtn{
    cursor: pointer;
  }

/*Estilo Menu*/

#menu{
    background-color: lightgreen;
    display: flex;
    align-items: center; /* alinha na vertical da pagina*/
    justify-content: flex-end; /* alinha na horizontal*/
    height: 80px;
    padding: 0 45px;
      
}


#opcoes li {
    display: flex;
    padding: 15px; /* espaçamento */  
    align-items: center; /* alinha na vertical da pagina*/
    justify-content: space-evenly; 
    font-family: 'Open Sans',sans-serif;
      
}
 
#opcoes li a{ /* texto do link */
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
 
  #opcoes li a:hover{ /* quando o mouse passa por cima muda a cor*/
      color: gray;
  }
/* Estilo Menu*/

.imgFundo{
    display: flex;
    height: 550px;
    margin: 2%;
    width: 560; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}

h1{
    
    font-family: 'Open Sans',sans-serif;
    padding: 0 45px;
    font-size: 2rem;
    text-align:center;
}

h2{
    font-family: 'Open Sans',sans-serif;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    flex-flow: row;
    

}
.descricao{
    font-family: 'Open Sans',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* alinha na horizontal da pagina no começo*/
    justify-content: space-around;
    height: 175px;
    width: 25%;
    padding-left: 100px;
}

#button li{
    display: inline;
    padding: 25px;
    
}

#button li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
  
}

#button li a:hover{ /* quando o mouse passa por cima muda a cor*/
    color: gray;
    
}

.imgAjudar{
    display: flex;
    height: 300px;
    justify-content: flex-end;
    
}

.imgAjuda{
    display: flex;
    height: 300px;
    justify-content: flex-end;

}

.imgEntregas{
    display: flex;
    height: 300px;
    justify-content: flex-end;

}

/*Estilo pagina Contato*/

.ml-50{
    margin-left: 50px;
}

#formtCont{
    font-family: Montserrat;
    margin: 2%;
    
}
